.u-section-1 {
  background-image: linear-gradient(0deg, rgba(254,249,245,0.65), rgba(254,249,245,0.65)), url("../../../public/images/background.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  width: 139px;
  height: 139px;
  margin: 126px auto 0 501px;
}

.u-section-1 .u-text-1 {
  font-family: "Playfair Display", serif;
  background-image: none;
  font-style: normal;
  font-weight: normal;
  margin: 31px 202px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 31px 202px 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25rem;
  background-image: none;
  border-style: none;
  margin: 41px auto 60px 467px;
  padding: 15px 43px 16px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-1 {
    margin-top: 60px;
    margin-left: 401px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 78px;
    margin-left: 102px;
    margin-right: 102px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 102px;
    margin-right: 102px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 34px;
    margin-left: 367px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-left: 291px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 257px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-left: 201px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.75rem;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 167px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 117px;
    height: 117px;
    margin-left: 112px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 44px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 25px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 43px;
    margin-left: 67px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 385px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 982px;
  margin: 60px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 237px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  font-family: Livvic;
  line-height: 1.4;
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  animation-duration: 1000ms;
  font-weight: 700;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 237px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 20px;
}

.u-section-2 .u-text-3 {
  font-size: 3rem;
  animation-duration: 1000ms;
  letter-spacing: 4px;
  line-height: 57.6px;
  font-weight: normal;
  margin: 20px 0 0 118px;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25rem;
  background-image: none;
  border-style: none;
  animation-duration: 1000ms;
  margin: 42px 0 0 auto;
  padding: 15px 43px 16px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 375px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 227px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 227px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 97px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 248px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 348px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.0625rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-btn-1 {
    margin-right: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 679px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 55px auto 55px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 569px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 4px;
  margin: 50px 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  margin: 30px 40px 0 0;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25rem;
  background-image: none;
  border-style: none;
  margin: 40px auto 0 0;
  padding: 15px 43px 16px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 569px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 439px;
  height: 439px;
  background-image: url("../../../public/images/beky-astronomer.png");
  background-position: 50% 50%;
  animation-duration: 6000ms;
  margin: 16px auto 40px 21px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 579px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 438px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 500px;
  }

  .u-section-3 .u-image-1 {
    width: 410px;
    height: 410px;
    margin-top: 19px;
    margin-bottom: 0;
    margin-left: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 210px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 383px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-1 {
    width: 337px;
    height: 337px;
    margin-top: 109px;
    margin-bottom: 42px;
    margin-left: -3px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 310px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 539px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    width: 418px;
    height: 418px;
    margin-top: 21px;
    margin-bottom: 40px;
    margin-left: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 339px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 15px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 20px;
    margin-bottom: 0;
    height: 300px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-4 .u-text-1 {
  width: 817px;
  line-height: 79.2px;
  font-family: "Playfair Display", serif;
  margin: 74px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  width: 495px;
  margin: 26px auto 0;
}

.u-section-4 .u-form-1 {
  height: 263px;
  width: 317px;
  margin: 51px auto 60px;
}

.u-section-4 .u-form-group-1 {
  margin-left: 0;
}

.u-section-4 .u-form-group-2 {
  margin-left: 0;
}

.u-section-4 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  background-image: none;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1rem;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-top: 70px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: 720px;
    margin-top: 75px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-5 .u-text-1 {
  width: 688px;
  font-weight: 700;
  text-transform: none;
  margin: 68px auto 0;
}

.u-section-5 .u-text-2 {
  width: 425px;
  margin: 37px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 51px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-map-1 {
  height: 340px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-table-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-table-header-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-5 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25rem;
  background-image: none;
  border-style: none;
  margin: 68px auto 0;
  padding: 15px 43px 16px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1268px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1127px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 239px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-6 .u-text-1 {
  width: 817px;
  line-height: 79.2px;
  font-family: "Playfair Display", serif;
  margin: 74px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  width: 562px;
  margin: 26px auto 0;
}

.u-section-6 .u-table-1 {
  margin-bottom: 0;
  margin-top: 30px;
}

.u-section-6 .u-table-header-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-6 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25rem;
  background-image: none;
  border-style: none;
  margin: 30px auto 60px;
  padding: 15px 43px 16px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-top: 70px;
  }

  .u-section-6 .u-table-1 {
    height: 196px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    width: 720px;
    margin-top: 75px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 604px;
}

.u-section-7 .u-text-1 {
  width: 762px;
  margin: 60px auto 0;
}

.u-section-7 .u-text-2 {
  width: 647px;
  margin: 30px auto 0;
}

.u-section-7 .u-list-1 {
  min-height: 311px;
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  margin-top: 43px;
  margin-bottom: 60px;
  grid-gap: 30px 30px;
  height: auto;
}

.u-section-7 .u-list-item-1 {
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-icon-1 {
  height: 88px;
  width: 88px;
  background-image: none;
  margin: 0 auto;
}

.u-section-7 .u-text-3 {
  margin: 24px auto 0;
}

.u-section-7 .u-btn-1 {
  font-size: 1rem;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 24px auto 0;
  padding: 10px 67px 10px 66px;
}

.u-section-7 .u-list-item-2 {
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-icon-2 {
  height: 88px;
  width: 88px;
  background-image: none;
  margin: 0 auto;
}

.u-section-7 .u-text-4 {
  margin: 24px auto 0;
}

.u-section-7 .u-btn-2 {
  font-size: 1rem;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 24px auto 0;
  padding: 10px 67px 10px 66px;
}

.u-section-7 .u-list-item-3 {
  background-image: none;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-icon-3 {
  height: 88px;
  width: 88px;
  background-image: none;
  margin: 0 auto;
}

.u-section-7 .u-text-5 {
  margin: 24px auto 0;
}

.u-section-7 .u-btn-3 {
  font-size: 1rem;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 24px auto 0;
  padding: 10px 67px 10px 66px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-7 .u-list-1 {
    min-height: 256px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1285px;
  }

  .u-section-7 .u-text-1 {
    width: 720px;
  }

  .u-section-7 .u-list-1 {
    min-height: 588px;
    grid-template-columns: calc(((100% - 720px) / 2) + 345px) calc(((100% - 720px) / 2) + 345px);
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    width: 540px;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
  }

  .u-section-7 .u-list-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    width: 340px;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 168px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 30px auto 30px 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 108px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-8 .u-text-1 {
  margin: 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 108px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-8 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 176px;
  min-width: 80px;
  white-space: nowrap;
  margin: 0 auto;
}

.u-section-8 .u-icon-1 {
  height: 100%;
}

.u-section-8 .u-icon-2 {
  height: 100%;
}

.u-section-8 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 139px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 89px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 89px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 106px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 126px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-social-icons-1 {
    height: 66px;
    width: 230px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 80px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 189px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-social-icons-1 {
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 50px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 119px;
  }
}
